/* div {
     border-style: solid;
     border-width: 2px;
     padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 5px;
     padding-right: 5px;
}
 */
 div.anser-line-symbol{
     padding-left: 20px;
     padding-right: 20px;
     position: relative;
     font-size: 6vw;
     text-align: center;
}
 div.decimal{
     padding-left: 20px;
     padding-right: 20px;
     position: relative;
     font-size: 6vw;
     text-align: center;
}
 div.columnar-addition-outer-container{
     margin-top: 30px;
     margin-bottom: 30px;
     flex-direction: row;
     display: flex;
}
 div.columnar-addition-left-symbol-area-container {
     flex-direction: column;
     justify-content: flex-end;
     display: flex;
}
 div.columnar-addition-left-symbol-upper-container {
     padding-left: 20px;
     padding-right: 20px;
     font-size: 6vw;
     text-align: center;
     margin-bottom: 30px;
}
 div.columnar-addition-left-symbol-lower-container {
     padding-left: 20px;
     padding-right: 20px;
     font-size: 6vw;
     text-align: center;
}
 div.columnar-addition-right-symbol-area-container {
     flex-direction: column-reverse;
     justify-content: flex-end;
     display: flex;
}
 div.columnar-addition-right-symbol-upper-container {
     padding-left: 20px;
     padding-right: 20px;
     font-size: 6vw;
     text-align: center;
     margin-top: 20px;
}
 div.columnar-addition-right-symbol-lower-container {
     padding-left: 20px;
     padding-right: 20px;
     font-size: 6vw;
     text-align: center;
}
 div.columnar-addition-symbol-element {
     padding-left: 20px;
     padding-right: 20px;
     font-size: 6vw;
     text-align: center;
}
 div.columnar-addition-addend-element {
     padding-left: 20px;
     padding-right: 20px;
     position: relative;
     font-size: 6vw;
     text-align: center;
}
 div.columnar-addition-addend-element-container {
     float: right;
}
 div.columnar-addition-equation-container {
     flex-direction: row-reverse;
     display: inline-block;
}
 div.columnar-addition-upper-area-container {
     flex-direction: row-reverse;
     display: inline-flex;
}
 div.columnar-addition-addend-area-container {
     flex-direction: column;
     display: flex;
}
 div.columnar-addition-addend-container {
     flex-direction: row-reverse;
     display: flex;
}
 div.columnar-addition-symbol-area-container {
     flex-direction: column;
     justify-content: flex-end;
     display: flex;
}
 div.columnar-addition-symbol-element {
     padding-left: 20px;
     padding-right: 20px;
     font-size: 6vw;
     text-align: center;
}
 div.columnar-addition-answer-line-container {
     flex-direction: row-reverse;
     display: flex;
}
 .columnar-addition-answer-line-container div {
     flex-grow: 1;
     width: 2em;
}
 div.columnar-addition-answer-element-container {
     flex-direction: column-reverse;
     float: right;
     display: flex;
}
 input.columnar-addition-answer-box-input {
     border-right: 1px;
     border-top: 4px;
     border-top-style: solid;
     padding-left: 20px;
     padding-right: 20px;
     font-size: 5vw;
     text-align: center;
     border-style: solid;
}
 input.columnar-addition-carries-box-input {
     width: 30%;
     font-size: 2vw;
     text-align: center;
     border-style: inset;
     border-style: solid;
}
 div.math-canvanas {
     border-style: solid;
     margin: auto;
     padding-left: 25%;
}
 button.new-equation-button {
     border-style: solid;
     border-width: 2px;
     padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 5px;
     padding-right: 5px;
     font-size: 3vw;
     background-color: lightgrey;
}
 